/******************************body****************************/

body {
    background: #ffffff url('../images/bg.gif') repeat-x;
    margin: 0px;
    padding: 0px;
}

/*******************************Topo******************************/
#top_banner {
    width: auto;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
}

hr.thin {
    width: 100%;
    color: #003663;
    background-color: #003663;
    border: 0;
    height: 1px;
    margin-bottom: 5px;
}

#logo {
    width: 250px;
    float: left;
    padding-left: 20px;
}

#top_banner h1 {
    font: normal 16px tahoma;
    color: #ffffff;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
}

#top_banner h2 {
    font: normal 12px tahoma;
    color: #ffffff;
    margin-top: -4px;
    text-align: center;
    font-weight: bold;
}

#top_banner p {
    font: normal 14px tahoma;
    color: #ffffff;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
}

#top_banner table {
    height: 120px;
    border: none;
}

.topBannerUser {
    font: normal 13px tahoma;
    color: #000;
    /*margin-top: 0px;*/
    text-align: right;
    vertical-align: bottom;
    font-weight: bold;
}

#top_banner a {
    color: #ffffff;
    font-weight: bold;
}

/*****************************Menu********************************/
/***********************Especifico do Menu******************************/
#menu {
    /*width: 800px;*/
    width: auto;
    height: 30px;
    margin: auto;
    /*clear: both;*/
    text-align: center;
    /*padding-left: 10px;*/
    background-position: center;
    background: #ffffff url(../images/bt.gif) repeat-x;
}

.centraliza {
    width: 100%
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*  LEVEL ONE  */
ul.dropdown {
    width: auto;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

ul.dropdown li {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    float: left;
    zoom: 1;
    background: url(../images/bt.gif) #ffffff;
    width: 250px;
    height: 30px;
}

ul.dropdown a:hover {
    color: #000;
}

ul.dropdown a:active {
    background: url(../images/topselectionright.png) top right;
}

ul.dropdown li a {
    display: block;
    padding: 10px 20px 10px;
    text-align: center;
    color: #222;
}

/* Doesn't work in IE */
ul.dropdown li:last-child a {
    border-right: none;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
    background: url(../images/topselectionright.png) top right;
    font-weight: bold;
    color: black;
    position: relative;
}

ul.dropdown li.hover a {
    color: black;
}

/*  LEVEL TWO  */
ul.dropdown ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: 250px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
}

ul.dropdown ul li {
    width: 100%;
    font-weight: normal;
    background: #ffffff;
    color: #000;
    border-bottom: 1px solid #ffffff;
    float: none;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
    display: block;
    padding: 10px 20px 10px;
    text-align: center;
}

/*  LEVEL THREE  */
ul.dropdown ul ul {
    left: 100%;
    top: 0;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}

/****************************Main Body****************************/
#main_container {
    width: auto;
    height: auto;
    margin: auto;
    background: none;
    color: #042254;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-top: 0px;
    padding-bottom: 50px;
}

#sub_container {
    clear: both;
    width: 900px;
    height: auto;
    margin: auto;
    background-color: #ffffff;
    padding: 40px 20px 0 20px;
}

#sub_container_i {
    clear: both;
    width: 800px;
    height: auto;
    margin: auto;
    background-color: #ffffff;
    padding: 20px 20px 0 20px;
}

#titulo {
    clear: both;
    /*width: 800px;*/
    height: 10px;
    margin: auto;
    /*background-color: #f2f2f2;*/
    text-align: left;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid rgba(207, 209, 207, 0.92);*/
}

#titulo2 {
    clear: both;
    /*width: 800px;*/
    height: 40px;
    margin: auto;
    /*background-color: #f2f2f2;*/
    text-align: center;
    font-weight: bold;
    color: #042254;
    padding-top: 5px;
    /*padding-bottom: 10px;*/
}

.property-label {
    text-align: left;
    font-weight: bold;
    margin: auto;
}

#messages {
    clear: both;
    width: auto;
    margin: auto;
    height: auto;
    background-color: #ffffff;
    text-align: left;
    padding-top: 2px;
}

#formulario {
    clear: both;
    width: 640px;
    height: auto;
    margin-left: 0px;
    float: left;
    /*background-color: #f2f2f2;*/
    padding: 10px 330px 2px;
}

#fotografia {
    /*clear: both;*/
    width: 190px;
    /*height: auto;*/
    /*margin: auto;*/
    /*float: right;*/
    /*padding: 20px 20px 0 20px;*/
}

#table3 {
    border: 1px solid #ffffff;
    width: 100%;
    /*padding-left: 10px;*/
    margin-left: -120px;
}

#table1 {
    clear: both;
    width: auto;
    height: auto;
    /*background-color: #f2f2f2;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

#table2 {
    clear: both;
    width: auto;
    height: auto;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

fieldset {
    border: thin solid #1d5885;
}

.table {
    border: 1px solid #1d5885;
    width: 70%;
    margin-left: 200px;
    padding: 10px 330px 2px;
}

.tabela {
    border: 1px solid #ffffff;
    width: 100%;
    padding-left: 10px;
    margin-left: 100px;
}

.tabela2 {
    border: 1px solid #ffffff;
    width: 30%;
}

th {
    background-color: #1d5885;
    text-align: center;
    font-weight: bold;
    color: #333333;
    height: 20px;
}

td.cell {
    height: 20px;
    background-color: #94b4cd;
}

/*form.order {
	padding:20px;
}*/

ul.order li {
    line-height: 2.4em;
    clear: both;
    padding: 0 10px 0 10px;
}

label {
    float: left;
    width: 270px;
    font-weight: bold;
}

input {
    width: 240px;
    background: #ffffff;
    border: 1px solid #ffffff;
}

textarea {
    width: 270px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

.botoes {
    text-align: center;
}

.bt-order {
    height: 29px;
    width: 120px;
    border: 0px none;
    cursor: pointer;
    color: #ffffff;
    background-color: #ffffff;
    background: url("../images/padrao.png") no-repeat;
    /*background-color: #042254;*/
    font-size: 14px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0px 0px 0px 0px;
}


.bt-menu {
    height: 30px;
    width: 140px;
    border: 0 none;
    cursor: pointer;
    color: #ffffff;
    background-image: url("../images/padrao.png");
    /*background-color: #042254;*/
    font-size: 14px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0 0 0 0;
}

input:hover, select:hover, textarea:hover {
    border: 1px solid #ffffff;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #042254;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 20px;
}

/******************************footer****************************/

#footer {
    clear: both;
    width: auto;
    background-color: #316e9d;
    background-position: 0px 40px;
    color: #ffffff;
    height: 60px;
    padding-top: 10px;
    text-align: center;
}

/************************MESSAGES AND ERRORS**************************/
.message {
    /* background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat; */
    border: 1px solid #b2d1ff;
    color: #042254;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #ffffff;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

div.errors ul {
    list-style: none;
    padding: 0;
}

div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

div.errors select {
    border: 1px solid red;
}

div.errors input {
    border: 1px solid red;
}

div.errors textarea {
    border: 1px solid red;
}

span.errors {
    color: #ff0033;
}